@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.main-container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  /* background: #5f5f5f; */
  background: #282828;
  /* background: rgba(
    rgb(104, 104, 104),
    rgb(131, 131, 131),
    rgb(128, 128, 128),
    0.9
  ); */
  background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)),
    url(../images/upper-bg.png);
  padding: 0 5%;
  --fill-layer-background-media-position: fixed;
}

.navbar {
  max-width: 1170px;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
}

.logo {
  width: 80%;
  text-decoration: none;
  color: #77b829;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}

.logo b {
  color: #fff;
}

.navbar ul {
  list-style-type: none;
}

.navbar ul li {
  display: inline;
  margin: 0 20px;
}

.navbar ul a {
  text-decoration: none;
  color: #fbfdf8;
  font-size: 16px;
  transition: 0.3s;
}

.navbar ul a:hover::after,
.navbar ul .active::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #77b829;
  position: absolute;
  left: 0;
  bottom: -6px;
}

button {
  background: #77b829;
  cursor: pointer;
  color: #282828;
  border: none;
  outline: none;
  font-size: 16px;
  text-transform: capitalize;
  width: 135px;
  height: 48px;
  font-weight: 600;
  border-radius: 7px;
  transition: 0.3s;
}

button:hover {
  background: #fff;
}

button a {
  color: #282828;
  text-decoration: none;
}

strong {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  color: black;
  border-radius: 7px;
  padding: 5px 20px;
}

.toggle-btn {
  display: none;
  width: fit-content;
  flex-direction: column;
  gap: 7px;
  border-radius: 5px;
}

.toggle-btn .bar {
  width: 38px;
  height: 5px;
  background: #f8fdf8;
  border-radius: 5px;
}

.bottom-sec {
  max-width: 1170px;
  width: 100%;
  height: fit-content;
  padding: 6rem 0 5rem 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.left-sec {
  width: 100%;
}

.right-sec {
  border: #fff solid 10px;
  border-radius: 10px;
  width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-sec h1 {
  color: #77b829;
  font-size: 48px;
  line-height: 80px;
  margin-bottom: 15px;
  font-weight: 700;
}

.left-sec p {
  width: 78%;
  color: #d8d8d8;
  /* margin-bottom: 40px; */
}

.left-sec button {
  margin-bottom: 55px;
}

/* .right-bg {
  height: 160%;
  position: absolute;
  right: 0;
} */

.right-img {
  width: 100%;
}

.sec {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5rem 5%;
}

.content-sec {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5rem 5%;
  background-color: white;
}

.sec h3 {
  font-size: 70px;
  font-weight: 700;
  margin-left: 150px;
  margin-right: 450px;
  margin-bottom: 40px;
}

.top-sec {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5rem 5% 0 5%;
}

.content-sec h1 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 15px;
}

.content-sec-variant strong {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  color: white;
  /* background-color: #f9f9f9; */
  border-radius: 7px;
  padding: 5px 20px;
}

.content-sec p {
  font-size: 20px;
}

.content-sec span {
  max-width: 650px;
  width: 100%;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 40px;
  color: #878787;
  background-color: #100f2c;
  border: 8px solid #77b829;
  color: white;
  padding: 40px;
  border-radius: 7px;
  box-shadow: 0 0 5px #555;
}

.card-sec {
  max-width: 1170px;
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: 2rem;
}

.card-sec2 {
  max-width: 1170px;
  width: 100%;
  height: fit-content;
  text-align: left;
}

/* Gallery */

/*  */
.card {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* gap: 20px; */
  /* background: #f9f9f9; */
  padding: 40px 25px;
  border-radius: 15px;
  transition: 0.3s;
  text-align: center;
  line-height: 1.5;
}

.card2 {
  width: 100%;
  height: fit-content;
  text-align: left;

  /* gap: 20px; */
  background: #f9f9f9;
  padding: 40px 25px;
  border-radius: 15px;
  transition: 0.3s;
  text-align: center;
  line-height: 1.5;
}

.card {
  background: rgba(255, 255, 255, 0.288);
}

.card:hover,
.card2:hover {
  color: black;
  background: #f1f1f1;
  filter: none;
  -webkit-filter: none;
}

.card:hover img,
.card2:hover img {
  filter: none;
  -webkit-filter: none;
}

.card img,
.card2 img {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.card img,
.card2 img {
  width: 4rem;
}

#serviceContentSec {
  place-content: center;
  text-align: center;
}

#serviceCardSec {
  place-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

#serviceCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  gap: 20;
  position: relative;
}

#serviceCard img {
  /* width: 100%; */
  width: 400px;
  height: 300px;
  object-fit: cover;
  filter: none;
}

#serviceCardSec hr {
  border: none;
  border-top: 4px solid #77b829;
  width: 100%;
}

.card:hover,
.card2:hover {
  filter: none;
}

.card h2 {
  font-size: 1.2rem;
}

.stat-sec {
  width: 100%;
  display: flex;
  margin-top: 50px;
  padding: 0 10%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.stat-card {
  color: #1d1c2f;
  max-width: 250px;
  width: 100%;
  text-align: center;
  padding: 20px;
  margin: 10px;
  border-bottom: #77b829 solid;
}

.stat-card h1 {
  font-size: 70px;
  font-weight: 700;
  color: rgba(3, 2, 29, 0.7);
}

.service-container {
  /* max-width: 1170px; */
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5rem 5%;
  background-color: white;
  place-content: center;
  text-align: center;
}

.content-sec-variant {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5rem 5%;
  background-color: #100f2c;
  color: white;
}

.content-sec-variant card-sec card:hover {
  color: black;
}

.service-sec {
  /* max-width: 1470px; */
  max-width: 1170px;
  width: 100%;
  height: fit-content;
  place-content: center;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 2rem;

}

.service {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  gap: 20;
  position: relative;
  align-items: center;
  background: rgba(255, 255, 255, 0.288);
  padding: 40px 25px;
  border-radius: 15px;
  transition: 0.3s;
  text-align: center;
  line-height: 1.5;
}

.service h2 {
  font-size: 1.2rem;
}

.service img {
  width: 400px;
  height: 250px;
  object-fit: cover;
  filter: none;
}

.service-sec hr{
  border: none;
  border-top: 4px solid #77b829;
  width: 100%;
}

.content-sec-variant strong {
  color: #77b829;
  font-weight: 800;
}

.footer-sec {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: left;
  padding: 1rem 1%;
}

.footer-card-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  <<<<<<< HEAD=======>>>>>>>b315526f8f5641b37fe0fb1993f458957c898bec
}

#footer-logo {
  margin-left: 30px;
}

#wrap img {
  float: left;
}

#wrap p {
  margin-top: 30px;
}

.footer-card-right {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

#footer-column1 ul li {
  margin-bottom: 10px;
}

#footer-column2 p {
  margin-bottom: 20px;
}

#footer-column2 div {
  margin-top: 40px;
}

.footer-sec a {
  text-decoration: none;
  font-weight: 700;
  color: black;
}

.footer-sec ul li {
  text-decoration: none;
}

.footer-sec li {
  list-style-type: none;
}

.footer-hr {
  border: 0;
  border-top: 4px solid #a0a0a0;
}

.customers-sec {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.customers-sec hr {
  max-width: 20%;
}

.customers-card {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

hr {
  max-width: 100%;
  margin-bottom: 40px;
  <<<<<<< HEAD border-top: 6px solid #66bb6a;
  =======border-top: 6px solid #77b829;
  >>>>>>>b315526f8f5641b37fe0fb1993f458957c898bec
}

.form-control {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

.form-control:focus {
  border-color: #77b829;
  outline: none;
  box-shadow: 0 0 5px rgba(119, 184, 41, 0.5);
}

textarea.form-control {
  height: 150px;
  resize: vertical;
}

#id_codes {
  padding: 10px;
}

.book-us {
  width: 60%;
  background-color: #8c8c8c;
  border-radius: 7px;
  padding: 5%;
  font-weight: 500;
}

.contact-us-content {
  /* width: 100%; */
  text-align: center;
  background-color: #a9a9a9;
  padding: 40px;
  /* margin-top: 100px; */
  /* border-radius: 10px; */
}

.contact-us-content a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.contact-us-content a:hover {
  color: black;
}

/* Services Content Section */
.services-content-sec {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #100f2c;
  align-items: center;
  padding: 5rem 5%;
}

.services-content-sec strong {
  color: #77b829;
}

.services-content-sec h1 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 15px;
}

.services-content-sec p {
  font-size: 14px;
}

.services-content-sec p {
  font-size: 14px;
}

.services-content-sec span {
  max-width: 650px;
  width: 100%;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 40px;
  color: #878787;
  background-color: #fff;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0 0 5px #555;
}

.services-card {
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.288);
  color: white;
  padding: 40px 25px;
  border-radius: 15px;
  transition: 0.3s;
  text-align: center;
  line-height: 1.5;
}

.services-card2 {
  width: 100%;
  height: fit-content;
  text-align: left;
  color: black;
  background: rgba(255, 255, 255, 0.288);
  padding: 40px 45px;
  border-radius: 15px;
  transition: 0.3s;
  text-align: center;
  line-height: 1.5;
}

.services-card2 p {
  text-align: left;
  /* font-size: 0.8rem; */
  color: white;
}


.services-card-sec {
  max-width: 1170px;
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: 2rem;
}

.services-card-sec2 {
  max-width: 1170px;
  width: 100%;
  height: fit-content;
  text-align: left;
}

.services-card:hover {
  color: black;
  background: #f1f1f1;
  filter: none;
  -webkit-filter: none;
}

.services-card:hover img {
  filter: none;
  -webkit-filter: none;
}

.services-card img,
.services-card2 img {
  width: 4rem;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

#gallery{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5rem 5%;
  background-color: #100f2c;
  color: white;
  padding-top: 3rem;
}

#gallery strong{
  color: #77b829;
}

#gallerySection {
  padding-top: 3rem;
}


  /*-------------------------------- Styling the send us an email form -------------------------------*/
  #send_us_an_email_form {
    color: #1d1c2f;
    padding: 25px;
    background: linear-gradient(135deg, #e8f5e9, #c8e6c9);
    border-top: 2px solid #77b829;
    border-bottom: 2px solid #77b829;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  #send_us_an_email_form h1 {
    font-size: 40px;
    margin-bottom: 25px;
    text-align: center;
    text-shadow: 1px 1px 2px #333;
  }

  #send_us_an_email_form .form-control {
    width: 100%;
    padding: 14px;
    margin: 12px 0;
    border: 2px solid #77b829;
    border-radius: 8px;
    font-size: 16px;
    background: #f4f4f4;
    color: #333;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }

  #send_us_an_email_form .form-control:focus {
    border-color: #66bb6a;
    box-shadow: 0 0 8px rgba(102, 187, 106, 0.5);
    background-color: whitesmoke;
  }

  #send_us_an_email_form label {
    font-weight: bold;
    margin-top: 15px;
  }

  #send_us_an_email_form button[type="submit"] {
    background: linear-gradient(135deg, #77b829, #66bb6a);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    margin: auto;
  }

  #send_us_an_email_form button[type="submit"]:hover {
    background: linear-gradient(135deg, #66bb6a, #77b829);
    transform: translateY(-3px);
  }

  #send_us_an_email_form button[type="submit"]:active {
    transform: translateY(0);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  }

  #send_us_an_email_form .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  #send_us_an_email_form .form-control[type="radio"]+label {
    display: inline-block;
    margin-right: 20px;
  }

  #send_us_an_email_form .form-control[type="radio"]+label::before {
    display: inline-block;
    margin-right: 5px;
  }

  #id_state {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 1em;
    margin-top: 0.5em;
  }

  #id_state label {
    flex: none;
    padding-right: 20px;
  }

  #id_time {
    width: 100%;
    padding: 14px;
    margin: 12px 0;
    border: 2px solid #77b829;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f4f4f4;
    color: #333;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }

  #id_time:focus {
    border-color: #66bb6a;
    box-shadow: 0 0 8px rgba(102, 187, 106, 0.5);
    background-color: whitesmoke;
  }

  #id_time option {
    background-color: #f4f4f4;
    color: #333;
  }
}

<<<<<<< HEAD

/*-------------------------------- Styling the send us an email form -------------------------------*/
#send_us_an_email_form {
  color: #1d1c2f;
  padding: 25px;
  background: linear-gradient(135deg, #e8f5e9, #c8e6c9);
  border-top: 2px solid #77b829;
  border-bottom: 2px solid #77b829;
}

#send_us_an_email_form h1 {
  font-size: 40px;
  margin-bottom: 25px;
  text-align: center;
  text-shadow: 1px 1px 2px #333;
}

#send_us_an_email_form .form-control {
  width: 100%;
  padding: 14px;
  margin: 12px 0;
  border: 2px solid #77b829;
  border-radius: 8px;
  font-size: 16px;
  background: #f4f4f4;
  color: #333;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#send_us_an_email_form .form-control:focus {
  border-color: #66bb6a;
  box-shadow: 0 0 8px rgba(102, 187, 106, 0.5);
  background-color: whitesmoke;
}

#send_us_an_email_form label {
  font-weight: bold;
  margin-top: 15px;
}

#send_us_an_email_form button[type="submit"] {
  background: #1d1c2f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  margin: auto;
}

#send_us_an_email_form button[type="submit"]:hover {
  background: linear-gradient(135deg, #66bb6a, #77b829);
  transform: translateY(-3px);
}

#send_us_an_email_form button[type="submit"]:active {
  transform: translateY(0);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

#send_us_an_email_form .button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#send_us_an_email_form .form-control[type="radio"]+label {
  display: inline-block;
  margin-right: 20px;
}

#send_us_an_email_form .form-control[type="radio"]+label::before {
  display: inline-block;
  margin-right: 5px;
}

#id_state {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 1em;
  margin-top: .5em;
}

#id_state label {
  flex: none;
  padding-right: 20px;
}

#id_time {
  width: 100%;
  padding: 14px;
  margin: 12px 0;
  border: 2px solid #77b829;
  border-radius: 8px;
  font-size: 16px;
  background-color: #f4f4f4;
  color: #333;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#id_time:focus {
  border-color: #66bb6a;
  box-shadow: 0 0 8px rgba(102, 187, 106, 0.5);
  background-color: whitesmoke;
}

#id_time option {
  background-color: #f4f4f4;
  color: #333;
}

/*  */

/* Media Queries */
@media (max-width: 1180px) {
  #serviceCardSec {
    grid-template-columns: repeat(2, 1fr);
  }

  .service-sec{
    grid-template-columns: repeat(2, 1fr);    
  }
}

@media (max-width: 1080px) {
  .left-sec h1 {
    font-size: 50px;
    line-height: 58px;
  }

  .card-sec {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .services-card-sec {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .card {
    width: 400px;
  }

  .services-card {
    width: 400px;
  }

  .card-sec {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }

  .stat-sec {
    justify-content: center;
    align-items: center;
  }

  .footer-sec {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-card-left {
    /* margin-top: 20px; */
    text-align: center;
  }

  .footer-card-right {
    margin-top: 40px;
    text-align: center;
    display: grid;
    grid-template-rows: 1;
  }

  <<<<<<< HEAD=======>>>>>>>b315526f8f5641b37fe0fb1993f458957c898bec .customers-sec {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .customers-sec h3 {
    margin-bottom: 20px;
  }
}

@media (max-width: 965px) {
  .navbar ul {
    display: none;
    position: absolute;
    max-width: 600px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #77b829;
    padding: 1.5rem;
    gap: 15px;
    top: 80px;
    right: 0;
    border-radius: 10px;
    z-index: 1000;
  }

  .navbar a {
    cursor: pointer;
  }

  #listSec {
    top: 150px;
    margin-top: 1em;
  }

  #listSec li a.active {
    text-decoration: underline #77b829 solid;
  }

  .navbar ul.show {
    display: flex;
  }

  .navbar ul a {
    color: #282828;
  }

  .btn-sec {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .toggle-btn {
    display: flex;
    cursor: pointer;
  }

  .bottom-sec {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0 3rem 0;
    gap: 40px;
  }

  .left-sec {
    max-width: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .right-sec {
    max-width: 400px;
    width: 100%;
  }

  .content-sec h1 {
    text-align: center;
    font-size: 27px;
  }

  .services-content-sec h1 {
    text-align: center;
    font-size: 27px;
  }

  .content-sec p {
    font-size: 14px;
  }

  .services-content-sec p {
    font-size: 14px;
  }

  .book-us {
    width: 100%;
  }

  strong {
    font-size: 18px;
  }
}

@media (max-width: 850px) {
  #serviceCardSec {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }

  .service-sec{
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }

  @media (max-width: 750px) {
    #listSec {
      margin-top: 1em;
    }

    .card-sec {
      grid-template-columns: repeat(1, 1fr);
      place-items: center;
    }

    .services-card-sec {
      grid-template-columns: repeat(1, 1fr);
      place-items: center;
    }

    #serviceCardSec {
      grid-template-columns: repeat(1, 1fr);
      place-content: center;
      padding: 0;
      margin: 0;
    }
    .service-sec{
      grid-template-columns: repeat(1, 1fr);
      place-content: center;
      padding: 0;
      margin: 0;
    }

    #serviceCard img {
      width: 100%;
    }

    .service img{
      width: 100%;
    }

    .gallery .modal img {
      width: 95%;
    }

    .gallery img {
      justify-content: center;
      align-items: center;
      width: 50%;
    }
  }

  @media (max-width: 600px) {
    #listSec {
      margin-top: 1em;
    }

    button {
      width: 120px;
      height: 43px;
      font-size: 15px;
    }

    .left-sec button {
      margin-bottom: 1.5rem;
    }

    .left-sec p {
      width: 100%;
      font-size: 14px;
      margin-bottom: 25px;
    }

    .toggle-btn .bar {
      width: 32px;
    }

    .down-btn {
      width: 23px;
      height: 48px;
    }

    .left-sec h1 {
      font-size: 38px;
      line-height: 45px;
    }
  }