{% extends "base.html" %}
{% load static %}
{%block content%}
<div class="content-sec" id = "about_us">
  <strong>ABOUT ECO CLEAN</strong><br>
<h1>We're ready to make your place the cleanest it's ever been.</h1>
 <span>
With over 14 years of experience, Eco Clean is one of the Mid-South's leading cleaning and restoration companies. We help you get clean and stay that way. Eco Clean pledges to uphold the high standards of the organization, promising to do the job right or do it over. Whether you contract with us for office janitorial services or call us to address fire damage, our service is prompt and the work is done to your satisfaction.
</span>
<h1>
ECO-CLEAN SERVICES:
</h1>
<span>
Janitorial and commercial specialty cleaning
Commercial  carpet cleaning, fabric cleaning and hard surface floor care
Healthcare facility cleaning for doctor offices, outpatient services, dialysis or imaging services, nursing homes, medical professional offices.
</span>
<h1>
UP FRONT ASSESSMENT & COSTS: 
</h1>
<span>
It all starts with us taking a look at what needs to be done – and usually it's not as bad as you think. We'll let you know how long it's going to take and what it's going to require. We will layout all costs and cleaning contracts up front with no hidden fees.
</span>
<h1>STRONG RELATIONSHIP WITH CUSTOMERS
</h1>
<span>Eco Clean loves to maintain relationships with clients and become more than just a cleaning service. We want to be part of the routine that makes your life better, healthier, and cleaner. And, the more often we come by, the less work we have to do, and the more you save – not to mention the intangible benefit of working in a spotless place! We are always just a phone call away.</span>
</div>
{% endblock content %}