{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EcoClean</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
  </head>
  <body>
    <div class="main-container">
      <div class="navbar">
        <a href="/"><img class="logo" src="{% static 'images/logo2.png'%}"></a>
        {% comment %} <a><img class="logo" src="{% static 'images/logo2.png'%}" style="vertical-align:middle;width:210px;height:214px;"></a> {% endcomment %}

        {% comment %} <a href="#" class="logo">
          Eco
          <b>Clean</b>
        </a> {% endcomment %}
        <ul id="listSec">
          <li><a href="{% url "home"%}" class="active">Home</a></li>
          <li><a href="{% url "about"%}">About</a></li>
          <li><a href="{% url "services"%}">Services</a></li>
          <li><a href="">Gallery</a></li>
          <li><a href="{% url "contactUs"%}">Contact Us</a></li>
        </ul>
        <div class="btn-sec">
          <button>
          <a href="https://squareup.com/appointments/book/de8xsf7jgocz1v/L6EYKABPQWJA8/start" target="_blank">Book Us</a>
          </button>
        </div>
      </div>

      <div class="bottom-sec">
        <div class="left-sec">
          <h1>
            Serving<br />Greater Memphis,<br />
            North Mississippi, & Southern Arkansas
          </h1>
          <p>
            Eco Clean is committed to delivering high-quality and sustainable
            cleaning solutions to our clients. We prioritize environmental
            responsibility and customer satisfaction in all aspects of our work.
          </p>
          <button><a href="{% url "about" %}">Read More</a></button>
        </div>
        <div class="right-sec"><img class="right-img" src="{% static "images/blank.png" %}" /></div>
      </div>
    </div>
    {% block content %}{% endblock content %}
    {% include 'chatbot.html' %}
  </body>
  </html>