{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EcoClean</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
  </head>
  <body>
    <div class="main-container">
      <div class="navbar">
        <a href="/"><img class="logo" src="{% static 'images/logo2.png'%}"></a>
        {% comment %} <a><img class="logo" src="{% static 'images/logo2.png'%}" style="vertical-align:middle;width:210px;height:214px;"></a> {% endcomment %}

        {% comment %} <a href="#" class="logo">
          Eco
          <b>Clean</b>
        </a> {% endcomment %}
        <ul id="listSec">
          <li><a href="{% url "home"%}" class="active">Home</a></li>
          <li><a href="{% url "about"%}">About</a></li>
          <li><a href="{% url "services"%}">Services</a></li>
          <li><a href="{% url "gallery"%}">Gallery</a></li>
          <li><a href="{% url "contactUs"%}">Contact Us</a></li>
        </ul>
        <div class="btn-sec">
          <button>
          <a href="{% url "book_us" %}">Book Us</a>
          </button>
          <div class="toggle-btn" id="toggleBtn">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
        </div>
      </div>

      <div class="bottom-sec">
        <div class="left-sec">
          <h1>
            Serving<br />Greater Memphis,<br />
            North Mississippi, Nashville  & Eastern Arkansas
          </h1>
          <p>
            Eco Clean is committed to delivering high-quality and sustainable
            cleaning solutions to our clients. We prioritize environmental
            responsibility and customer satisfaction in all aspects of our work.
          </p>
          <button>
            <a href="{% url "book_us" %}">Book Us</a>
            </button>
        </div>
        {% comment %} <div class="right-sec"><img class="right-img" src="{% static "images/blank.png" %}" /></div> {% endcomment %}
      </div>
    </div>
    {% block content %}{% endblock content %}
  </body>
  <hr class="footer-hr">
  <footer class="footer-sec">
    <footer class="footer-card-left">
      <div id="footer-logo">
        <img class="logo" src="{% static 'images/logo2.png'%}" style="vertical-align:middle;width:110px;height:114px;"/>
      </div>
      <div id="wrap">
        <img class="logo" src="{% static 'images/recycle.jpg'%}" style="vertical-align:middle;width:150px;height:154px;"/>
        <p>
          If you are wondering where or what to recycle in the Mid-South, you've come to the right place. Our  company is committed to increasing sustainable operations, we currently offer commercial co-mingled recycling programs for local businesses and residential recycling for cardboard, paper, aluminum, and plastic.
        </p>
    </div>
    </footer>
    <footer class="footer-card-right">
      <div id="footer-column1">
        <ul>
          <li><a href="{% url "home"%}" class="active">Home</a></li>
          <li><a href="{% url "about"%}">About</a></li>
          <li><a href="{% url "services"%}">Services</a></li>
          <li><a href="{% url "gallery"%}">Gallery</a></li>
          <li><a href="{% url "contactUs"%}">Contact Us</a></li>
        </ul>
      </div>
      <div id="footer-column2">
        <p>info.ecocleanllc@gmail.com<p>
        <p>662-510-5715</p>
        <div>
          <button>
          <a href="{% url "book_us" %}">Book Us</a>
          </button>
        </div>
      </div>
    </footer>
    </footer>

    <script>
      var listSec = document.getElementById("listSec");
      var toggleBtn = document.getElementById("toggleBtn");

      toggleBtn.addEventListener("click", () => {
        listSec.classList.toggle("show");
      });
    </script>
  {% include 'chatbot.html' %}

  </html>