
{% load static %}

{%block content%}
<script>
    function isInteger(value) {
        const parsedValue = parseInt(value, 10); 
        return Number.isInteger(parsedValue);
    }
    async function validate_zipcode() {
        const zipCode = document.getElementById('id_codes').value.trim(); 
        const resultElement = document.getElementById('check-result');
    
        if (!zipCode) {
            resultElement.textContent = 'ZIP code is required.';
            return;
        }
    
        if (!isInteger(zipCode)) {
            resultElement.textContent = 'Please enter a valid integer zip code.';
            return;
        }
        const zipCodeInt = parseInt(zipCode, 10);
    
        try {
            const response = await fetch(`/check-zip-code/?code=${zipCodeInt}`);
            const result = await response.json();
            if (response.ok) {
                const message = result.exists ? 'We service this area!' : 'Sorry, we do not service this area.';
                resultElement.textContent = message;
            } else {
                resultElement.textContent = 'Error: ' + (result.error ? result.error : 'Unknown error occurred.');
            }
        } catch (error) {
            resultElement.textContent = 'Error: ' + error.message;
        }
    }
    
</script>

<h1>SEE IF WE SERVICE YOUR AREA</h1>
<form method="post" action="{% url 'check_zip_code' %}">
    {% csrf_token %}
    <label for="zipcode">ZIP Code:</label>
    <input type="text" id="id_codes" name="code" placeholder="Enter zip code" required>
    <button type="button" onclick="validate_zipcode()">Check</button>
</form>
<p id="check-result"></p>



</form>
<h1>Jobs at EcoClean</h1>
<a href="https://form.jotform.com/242224227561147" class="" target="_blank" title="Job Application">Apply Now </a>

{%endblock content%}