{% extends "base.html" %}
{% load static %}
{%block content%}
<div class="content-sec">
  <strong>Gallery</strong>
    <div class="gallery">
      <img src="{% static "images/gallery/1.jpg" %}" alt="Gallery Image 1">
      <img src="{% static "images/gallery/2.jpg" %}" alt="Gallery Image 2">
      <img src="{% static "images/gallery/3.jpg" %}" alt="Gallery Image 2">
      <img src="{% static "images/gallery/4.jpg" %}" alt="Gallery Image 4">
      <img src="{% static "images/gallery/5.jpg" %}" alt="Gallery Image 5">
      <img src="{% static "images/gallery/6.jpg" %}" alt="Gallery Image 6">
    </div>

    {% comment %} <div class="modal" id="ecoModal">
      <span class="close">&times;</span>
      <img src="" alt="" class="modal-content" id="img01">
    </div>

    <script>
      var modal = document.getElementById("ecoModal");

      var modalImg = document.getElementById("img01")
      var images = document.querySelectorAll(".gallery img");

      images.forEach(image => {
        image.onclick = function(){
          console.log("Image clicked", this.src);
          modal.style.display = "block";
          modalImg.src = this.src;
        }
      });

      var span = document.getElementsByClassName("close")[0];

      span.onclick = function(){
        modal.style.display = "none";
      }
    </script> {% endcomment %}

    </div>  
{% endblock %}