{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="content-sec-variant" id="gallerySection">
  <strong>Gallery</strong>
  <div class="gallery">
    <img src="{% static "images/gallery/1.jpg" %}" alt="Gallery Image 1">
    <img src="{% static "images/gallery/2.jpg" %}" alt="Gallery Image 2">
    <img src="{% static "images/gallery/3.jpg" %}" alt="Gallery Image 3">
    <img src="{% static "images/gallery/4.jpg" %}" alt="Gallery Image 4">
    <img src="{% static "images/gallery/5.jpg" %}" alt="Gallery Image 5">
    <img src="{% static "images/gallery/6.jpg" %}" alt="Gallery Image 6">
  </div>

  <div class="modal">
    <img src="{% static "" %}" alt="">
    <span>&times;</span>
  </div>
</div>

<style>
  .gallery {
    margin-top: 20px;
    display: flex;
    max-width: 1170px;
    width: 100%;
    flex-wrap: wrap;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .gallery img {
    padding: 10px;
    width: 400px;
    height: 300px;
    object-fit: cover;
    object-position: bottom;
    border-radius: 8px;
    border: 4px solid #77b829;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: transform 0.2s ease-in-out, opacity 0.5s;
  }
  
  .gallery img:hover {
    cursor: pointer;
    opacity: 0.5;
    transform: scale(1.05);
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
  }

  .modal img {
    position: relative;
    max-width: 90%;
    max-height: 80%;
    border: 5px solid #fff;
    border-radius: 5px;
  }

  .modal span {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    font-weight: bolder;
    width: 100px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background: rgba(0,0,0,0.7);
    padding: 5px;
    border-radius: 10px;
    z-index: 101;
  }
</style>

<script>
  document.querySelectorAll('.gallery img').forEach(image => {
    image.onclick = () => {
      document.querySelector('.modal').style.display = 'flex';
      document.querySelector('.modal img').src = image.getAttribute('src');
    }
  })

  document.querySelector('.modal span').onclick = () => {
    document.querySelector('.modal').style.display = 'none';
  }
</script>
{% endblock %}


    {% comment %} <script>
      var modal = document.getElementById("ecoModal");

      var modalImg = document.getElementById("img01");
      var images = document.querySelectorAll(".gallery img");

      images.forEach(image => {
        image.onclick = function(){
          console.log("Image clicked", this.src);
          modal.style.display = "block";
          modalImg.src = this.src;
        }
      });

      var span = document.getElementsByClassName("close")[0];

      span.onclick = function(){
        modal.style.display = "none";
      }
    </script>  {% endcomment %}

