{% extends "base.html" %}
{% load static %}
{%block content%}
<div class="services-sec">
<h1>Why Choose Eco Clean</h1>

<div class="card-sec">
  <div class="card">
    <img src="{% static "images/icons/icon1.png" %}" alt="" />
    <h2>Experienced Professional Team</h2>
    <p>
        Our team of cleaning experts is highly experienced and fully certified to handle all your cleaning needs.
    </p>
  </div>

  <div class="card">
    <img src="{% static "images/icons/icon2.png" %}" alt="" />
    <h2>Customized Cleaning Plans</h2>
    <p>
        We understand that every space is unique, and we tailor our cleaning schedules to fit your specific requirements.
    </p>
  </div>

  <div class="card">
    <img src="{% static "images/icons/icon3.png" %}" alt="" />
    <h2>Eco-Friendly Products</h2>
    <p>
        We utilize advanced eco-friendly products to ensure a safe and healthy environment for you and your loved ones.
    </p>
  </div>
  <div class="card">
    <img src="{% static "images/icons/icon10.png" %}" alt="" />
    <h2>Hygiene-Focused Approach</h2>
    <p>
        We go the extra mile to maintain high standards of hygiene, providing thorough and meticulous cleaning services.
    </p>
  </div>
  <div class="card">
    <img src="{% static "images/icons/icon8.png" %}" alt="" />
    <h2>Reliable and Timely Service</h2>
    <p>
      We prioritize your business’s needs with our dependable and punctual cleaning services, ensuring your workspace remains clean and inviting without disrupting your operations.
    </p>
  </div>
  <div class="card">
    <img src="{% static "images/icons/icon9.png" %}" alt="" />
    <h2>State-of-the-Art Equipment</h2>
    <p>
      Our company uses the latest cleaning technology and equipment to deliver superior results, enhancing efficiency while maintaining our commitment to eco-friendly practices.
    </p>
  </div>


</div>
</div>
{% endblock content %}