{% extends "base.html" %}
{% load static %}
{%block content%}
<div class="top-sec" id="homeSection">
  <strong>
    Eco Clean is dedicated to delivering exceptional cleaning services for over 14 years. Our commitment to quality has resulted in 2000+ satisfied customers and a team with over 100 experienced staff members.</strong>
    
  <div class="stat-sec">
    <div class="stat-card">
      <h1>14+</h1>
      <p>Years of Excellence</p>
    </div>
    <div class="stat-card">
      <h1>2000+</h1>
      <p>Satisfied Customers</p>
    </div>
    <div class="stat-card">
      <h1>100+</h1>
      <p>Experienced Staff</p>
    </div>
    <div class="stat-card">
      <h1>5000+</h1>
      <p>Clean Projects</p>
    </div>
  </div>
</div>


  <div class="service-container">
  <strong>COMPREHENSIVE CLEANING SERVICES FOR ALL SPACES</strong>
    <div class="service-sec">
      <div class="service">
      <img src="{% static "images/classroom.jpg" %}" alt="" />
      <h2>Education</h2>
      <hr>
    </div>

      <div class="service">
      <img src="{% static "images/hospital.jpg" %}" alt="" />
      <h2>Medical</h2>
      <hr>
    </div>
 
  
      <div class="service">
      <img src="{% static "images/hospitality.jpeg" %}" alt="" />
      <h2>Hospitality</h2>
      <hr>
    </div>

   
      <div class="service">
      <img src="{% static "images/corporte.jpg" %}" alt="" />
      <h2>Corporate</h2>
      <hr>
    </div>
   
   
      <div class="service">
      <img src="{% static "images/restaurant.jpg" %}" alt="" />
      <h2>Service Industries</h2>
      <hr>
    </div>
   
    
      <div class="service">
      <img src="{% static "images/theatre.jpg" %}" alt="" />
      <h2>Entertainment Venues</h2>
      <hr>
    </div>
  </div>
</div>

<div class="content-sec-variant">

<strong>Why Choose Eco Clean?</strong>

<div class="card-sec">
  <div class="card">
    <img src="{% static "images/icons/icon1.png" %}" alt="" />
    <h2>Experienced Professional Team</h2>
    <p>
        Our team of cleaning experts is highly experienced and fully certified to handle all your cleaning needs.
    </p>
  </div>

  <div class="card">
    <img src="{% static "images/icons/icon2.png" %}" alt="" />
    <h2>Customized Cleaning Plans</h2>
    <p>
        We understand that every space is unique, and we tailor our cleaning schedules to fit your specific requirements.
    </p>
  </div>

  <div class="card">
    <img src="{% static "images/icons/icon3.png" %}" alt="" />
    <h2>Eco-Friendly Products</h2>
    <p>
        We utilize advanced eco-friendly products to ensure a safe and healthy environment for you and your loved ones.
    </p>
  </div>
  <div class="card">
    <img src="{% static "images/icons/icon10.png" %}" alt="" />
    <h2>Hygiene-Focused Approach</h2>
    <p>
        We go the extra mile to maintain high standards of hygiene, providing thorough and meticulous cleaning services.
    </p>
  </div>
  <div class="card">
    <img src="{% static "images/icons/icon8.png" %}" alt="" />
    <h2>Reliable and Timely Service</h2>
    <p>
      We prioritize your business’s needs with our dependable and punctual cleaning services, ensuring your workspace remains clean and inviting without disrupting your operations.
    </p>
  </div>
  <div class="card">
    <img src="{% static "images/icons/icon9.png" %}" alt="" />
    <h2>State-of-the-Art Equipment</h2>
    <p>
      Our company uses the latest cleaning technology and equipment to deliver superior results, enhancing efficiency while maintaining our commitment to eco-friendly practices.
    </p>
  </div>
</div>
</div>



  <div class="content-sec">
    <strong>WHAT OUR CLIENTS SAY</strong>
    <div class="customers-sec">
    <div class="customers-card">
      <hr>
      <p>
        “Eco Clean  did a fantastic job cleaning our restaurant. Their team was efficient, thorough, and left everything sparkling clean. We’ve noticed a big difference in both the appearance and the freshness of our space. Highly recommend their services!”
      </p>
      <h3>Service Industries</h3>
    </div>
    <div class="customers-card">
      <hr>
      <p>
        “We are extremely satisfied with the professional and efficient cleaning services provided by Eco Clean. Our office feels rejuvenated after every visit.”
      </p>
      <h3>Commercial Property Owners</h3>
    </div>
      <div class="customers-card">
        <hr>
      <p>
        “Eco Clean has exceeded our expectations with their top-notch cleaning solutions. Their commitment to excellence is evident in every task they undertake.”
      </p>
      <h3>Corporate Office Manager</h3>
    </div>
    </div>
      </div>
    {% comment %} <div class="contact-us-content">
        {% include "contact.html"%}
    </div> {% endcomment %}


  

</div>
</div>
{% endblock content %}